body{
    /*background-color: lightblue;*/
    background-image:radial-gradient(circle, orange,white)
}
h1{
    color:orange;
    font-size:40px;
    font-wegiht:bold;
    text-align:center;
}
h2{
    color:orange;
    font-weight:bold;
}
p{
    font-size:25px;
    color:orange;
    font-weight:bold;
    text-align:center;
    
}

.container{
    font-size:25px; /*hold/click your mouse on "home" or :afraid of heights to see info */
    color:black;
}
.Sec{
    font-size:25px;
    color:white;
    font-weight:bold;
}

.Sec2{
    font-size:25px;
    color:white;
    font-weight:bold;
    
}

.Sec3{
    font-size:25px;
    font-weight:bold;
}
.Sec4{
    font-size:25px;
    font-weight:bold;
    
}

