body{
    background-color:lightblue;
}
h1{
    color:white;
    font-size:40px;
    text-align:center;
}
h2{
    color:white;
}
p{
    font-size:25px;
    color:white;
    text-align:center;
    
}

.container{
    font-size:25px; /*hold/click your mouse on "home" or :afraid of heights to see info */
    
}